<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>TESTE</title>

</head>
<body>
<div class="content">
    <div class="row">
         <svg height="1250" width="1500">
<!--            <polygon points="0.368,3.703 2.453,3.703 2.453,3.805 0.386,3.805" style="fill:lime;stroke:purple;stroke-width:1" />-->
            <polygon points="0,0 0,500 500,500 500,0" style="fill:lime;stroke:purple;stroke-width:1" />
        </svg>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>